<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Tech Thought</title>
    <link rel="stylesheet" href="./css/styles.css">

</head>
<body>
<header>
    <nav>
<a href=""> Home</a>
<a href=""> Dashboard</a>
<a href="/login"> Login</a>
<a href=""> logout</a>
    </nav>
    <div><h1>The Tech Thought</h1></div>
</header>


    {{#if logged_in}}
    <script src="./javascript/logout.js"></script>
    {{/if}}
</body>
</html>