{{#each posts}}
<div>
    {{!-- I will add the name of the post
    the body, and the time of posting.
    this will loop for every post on the db --}}
    <h2>{{post_name}}</h2>
    <p>{{post_body}}</p>
    <p>{{post_time}}</p>
</div>

{{/each}}