time {
    font-size: .7em;
}

h1 {
    text-align: center;
}

.shadow-box {
    -webkit-box-shadow: -1px 5px 15px 5px rgba(180, 180, 180, 0.73);
    box-shadow: -1px 5px 15px 5px rgba(180, 180, 180, 0.73);
}

h3 {
    font-size: 1em;
}

small {
    font-size: .5em;
}

.post-title {
    text-decoration: none;
}

.post-card {
    margin: 2.5rem 7rem;
}

header {
    margin-bottom: 2rem;
}

.form-group {
    margin: .5rem 0rem;
}